form {
  height: 100px;
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  position: relative;
}

form Input {
  width: 205%;
  height: 30px;
  font-size: 12px;
  padding: 5px;
  align-items: center;
  padding-right: 25px;
}

form svg.close {
  display: block;
  margin-left: 160px;
  height: 20px;
  width: 20px;
  margin-top: 5px;
  cursor: pointer;
}

form button {
  height: 30px;
  border: none;
}